.alert-enter {
  opacity: 0.01;
  transition: opacity 600ms ease-in;
}

.alert-enter.alert-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.alert-leave {
  opacity: 1;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 45px;
}

.alert-leave.alert-leave-active {
  opacity: 0.01;
  padding-top: 0;
  padding-bottom: 0;
  height: 0;
  transition: all 300ms ease-out;
}
.alert-appear {
  opacity: 0.01;
  padding-top: 0;
  padding-bottom: 0;
  height: 0;
}

.alert-appear.alert-appear-active {
  opacity: 1;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 45px;
  transition: all .5s ease-in;
}
